@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/**
*   CARD
*     MEDIA
*       IMG
*     BODY
*       TITLE
*         NAME
*         AGE
*       DESCRIPTION
*       INFO
*         INFO-ITEM
*           COUNT
*           DESCRIPTION
*         INFO-ITEM
*           COUNT
*           DESCRIPTION
*         INFO-ITEM
*           COUNT
*           DESCRIPTION
**/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: hsl(185, 75%, 39%);
  font-size: 1.125rem;
  font-family: 'Kumbh Sans', sans-serif;
}


.card {
  &__media {}


  &__body {}

  &__title {}

  &__name {}

  &__age {}

  &__description {}



  &__info {}

  &__info-item {}

  &__count {}

  &__count-description {}
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}