@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/**
*   CARD
*     MEDIA
*       IMG
*     BODY
*       PROFILE 
*         TITLE
*           NAME
*           AGE
*         DESCRIPTION
*       INFO
*         INFO-ITEM
*           COUNT
*           DESCRIPTION
*         INFO-ITEM
*           COUNT
*           DESCRIPTION
*         INFO-ITEM
*           COUNT
*           DESCRIPTION
**/
$card-height: 24rem;
  $media-height: calc(($card-height / 5) * 2);
  $body-height: calc(($card-height / 5) * 3);
    $profile-height: calc(($body-height / 3) * 2);
    $info-height: calc(($body-height / 3));
$card-width: calc(($card-height / 8) * 7);


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: hsl(185, 75%, 39%);
  font-size: 1.125rem;
  font-family: 'Kumbh Sans', sans-serif;
}


.card {
  margin: 2rem auto;
  min-width: $card-width;
  min-height: $card-height;

  border-radius: 1.8rem;
  overflow: hidden;

  @media (max-width: 400px) {
    min-width: 19rem;
  }

  &__media {
    min-height: $media-height;
    position: relative;

    background-color: hsl(179, 100%, 39%);

    img {
      display: block;
      position: absolute;
      left: 34%;
      top: 70%;
      min-width: 6.8rem;

      border-radius: 50%;
      outline: 5px solid white;
    }
  }


  &__body {
    min-height: $body-height;

    background-color:  white;
  }
    &__profile {
      min-height: $profile-height;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 2rem;

    }
      &__title {
        display: flex;
        justify-content: center;
        column-gap: .5rem;
      }
        &__name {
          font-weight: 700;
        }
        &__age {
          color:  hsl(229, 23%, 23%);
          font-weight: 400;
        }
      &__description {
        margin-top: .7rem;

        text-align: center;
        font-size: .9rem;
        color: hsl(227, 10%, 46%);
      }


    &__info {
      min-height: $info-height;
      display: flex;
      justify-content: space-around;

      border-top: .1px solid hsl(0, 0%, 59%);
    }

    &__info-item {
      margin-top: 1.6rem;
      margin-bottom: 1.2rem;
    }
      &__count {
        font-weight: 700;
        text-align: center;
      }
      &__count-description {
        color: hsl(0, 0%, 59%);
        font-size: .9rem;
        text-align: center;
        letter-spacing: .1rem;
      }
} 

.attribution {
  margin-top: auto;
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}